body, html{
  height:100%;
}
body{
  background-image: url('src/dancefloor.jpg'); 
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
}
.pikachuDancer {
  transform: rotate(-90deg);
}
.breakDancer{
  transform: scaleX(-1);
  filter: FlipH;
}

/*.animate{
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}*/