body, html{
  height:100%;
}
body{
  background-image: url('src/dancefloor.jpg'); 
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
/*  border:10px solid red;
  border-radius:10px;*/
  position:absolute;
}

.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
}
.pikachuDancer {
  height: 10%;
  width: 10%;
  
}
.breakDancer{
  
}
